# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
nest-cli.json
.prettierrc.json
.prettierignore
.prettierignore
eslint.config.js
test
postman-collection.json
.env
tsconfig.json
tsconfig.app.json
tsconfig.lib.json
tsconfig.spec.json
tsconfig.base.json
tsconfig.paths.json
tsconfig.app.json
tsconfig.lib.json
tsconfig.spec.json
tsconfig.base.json
tsconfig.paths.json
tsconfig.build.json
.prettierrc
eslint.config.mjs
